<div class="d-flex justify-content-center align-items-start vh-100 mt-5" style="padding-top: 7rem;">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Password Dimenticata</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched }"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="invalid-feedback">
          Inserisci un'email valida.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Invia</button>
    </form>

    <div *ngIf="infoMessage" class="alert alert-info mt-3">
      {{ infoMessage }}
    </div>

    <div class="text-center mt-3">
      <a [routerLink]="['/login']">Torna al login</a>
    </div>
  </div>
</div>
