/* CSS personalizzato per il menu */
.navbar {
  margin-bottom: 20px; /* Spazio sotto la navbar */
}

.nav-link {
  font-weight: bold; /* Testo dei link in grassetto */
}

.nav-link:hover {
  background-color: #f8f9fa; /* Colore di sfondo al passaggio del mouse */
}

.btn-logout {
  font-size: 0.9rem;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.nav-link i {
  margin-right: 5px;
}

.dropdown-menu {
  min-width: 200px;
}

.force-pointer {
  cursor: pointer;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.form-modal {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: left;
}

.modal-header, .modal-footer {
  padding: 0.5rem 1rem; /* Riduci il padding */
}

.modal-body {
  padding: 1rem; /* Riduci il padding */
  font-size: 14px; /* Riduci la dimensione del font se necessario */
}

.global-add-modal {
  background: rgba(0, 0, 0, 0.5);
}

.global-add-modal .modal-dialog {
  background: transparent;
}




